input{
  width: 500px;
  border-radius: 20px;
  padding: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin: 0 10px;
  background-color: white;
}

.project-list{
  width: 800px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  input{
    width: 100%;
  }
}
