<div class="w-full">

  <mat-card style="margin: 0 20px">

    <mat-card-header style="text-align: center">
      <mat-card-title>
        Entregable: {{ deliverable?.name }}
      </mat-card-title>
      <mat-card-subtitle>
        Estado: {{ deliverable?.state }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h2>Descripcion de Entrega</h2>

      <p>{{ deliverable?.description }}</p>
      <div class="divider"></div>
      <div>
        @if (deliverable?.developerMessage) {
          <h2>Mensaje del desarrollador</h2>
          <p style="margin: 0;white-space: pre-line">{{ deliverable?.developerMessage }}</p>
        } @else {
          <h3 style="text-align: center">Esperando entrega del desarrollador</h3>
        }
      </div>
      <div class="divider"></div>
      <h2 style="text-align: center">Archivos</h2>

      <div style="display: flex; justify-content: center">
        <button mat-stroked-button [disabled]="!deliverable?.developerMessage"
                (click)="openDialog()">
          Aprobar Entrega
        </button>
      </div>
    </mat-card-content>

  </mat-card>

</div>
