<div class="chat-page-container">
  <div [ngClass]="getChatsContainerStyleClass()">
    @if (chats.length !== 0) {
      @for (chat of chats; track $index) {
        <app-chat [chat]="chat" [currentUser]="accountType" (openChat)="openChat($event)"
                  (currentContact)="handle($event)"/>
      }
    } @else {
      <div>
        <h2 style="margin: 0"><i>Aún no tienes contactos</i></h2>
      </div>
    }
  </div>
  @if (selectedChat !== 0) {
    <div class="current-chat">
      <div class="flex flex-row justify-around p-2.5 flex-wrap">
        <h2 style="margin: 0">{{ currentContactName }}</h2>
        <div>
          <img mat-card-image [src]="currentContactImage" alt="contact-image" class="w-9 h-auto">
        </div>
      </div>
      @if (messages.length !== 0) {
        <ul style="height: 100%;overflow-y: auto;overflow-x: hidden; border: 1px solid;">
          @for (message of messages; track $index) {
            <li style="padding: 10px">
              <app-message [userRecordId]="userRecordId" [message]="message"/>
            </li>
          }
        </ul>

      } @else {
        <div class="messages-empty">
          <h2 style="margin: 0"><i>No hay mensajes</i></h2>
        </div>
      }
      <div class="flex flex-row justify-around">
        <div class="input-message-container">
          <mat-form-field style="height: 100px;width: 100%">
            <textarea matInput placeholder="Escribe un mensaje" style="resize: none;"
                      [(ngModel)]="messageContent"></textarea>
          </mat-form-field>
        </div>
        <div class="send-message">
          <div tabindex="0" style="cursor: pointer" (keydown.enter)="sendMessage(messageContent)" (click)="sendMessage(messageContent)">
            <mat-icon style="color: blue; margin: 0;width: 100%;">send</mat-icon>
          </div>
        </div>
      </div>
    </div>
  }
</div>
